<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
  </head>
  <body>
    <div class="container" id="login">
      <div class="form-group">
        <label for="emailInput" class="form-label mt-4">Email address</label>
        <div class="col-lg-12">
          <input
            v-model="email"
            type="email"
            class="form-control"
            placeholder="Email"
            name="username"
            id="emailInput"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="passwordInput" class="form-label mt-4">Password</label>
        <div class="col-lg-12">
          <input
            v-model="password"
            type="password"
            name="password"
            class="form-control"
            id="passwordInput"
            placeholder="Password"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="btn-group-vertical mt-3">
        <button @click="processLogin" type="submit" class="btn btn-primary">
          login
        </button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/login.js" defer></script>
  </body>
</html>
