<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <include resource="logs/info-appender.xml"/>
  <include resource="logs/error-appender.xml"/>
  <include resource="logs/json-appender.xml"/>

  <springProfile name="local, test">
    <logger name="fileLog">
      <level value="INFO"/>
      <appender-ref ref="infoLog"/>
      <appender-ref ref="errorLog"/>
    </logger>

    <logger name="jsonLog" level="INFO">
      <appender-ref ref="jsonLog"/>
    </logger>
  </springProfile>


  <springProfile name="prod || prod1 || prod2">
    <logger name="fileLog">
      <level value="INFO"/>
      <appender-ref ref="infoLog"/>
      <appender-ref ref="errorLog"/>
    </logger>

<!--    <logger name="jsonLog" level="INFO">-->
<!--      <appender-ref ref="jsonLog"/>-->
<!--    </logger>-->
  </springProfile>

</configuration>


